#profiletitle {
    font-family: 'Mali', cursive;
    font-size: 50px;
    letter-spacing: 1px;
    font-style: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 7px #cc8f51;
}

.sitterprofileDiv {
    margin-bottom: 500px;
}

#pricetitle {
    font-family: 'Mali', cursive;
    font-size: 28px;
    letter-spacing: 1px;
    font-style: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 1px 1px 4px #cc8f51;
}

#AddtoFavorites {
    font-family: 'Mali', cursive;
    font-size: 28px;
    letter-spacing: 1px;
    font-style: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 1px 1px 4px #cc8f51;
}

#favoriteCard {
    background: #f4e8dc;
    width: 90%;
    font-family: 'Mali', cursive;
    font-size: 32px;
    letter-spacing: 1px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    text-shadow: 1px 1px 4px #cc8f51;
}

CardHeader {
    font-family: 'Palanquin Dark', sans-serif;
}