body {
    background: url("p1.png");
    background-repeat: repeat;
}

#searchButton {
    background: #ffb366;
    color: #ffffff;
    font-size: 27px;
    font-style: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 150px;
}

.forminputz {
    font-size: 27px;
}

#searchcitytitle {
    font-family: 'Mali', cursive;
    font-size: 36px;
    letter-spacing: 1px;
    font-style: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.headerimage {
    box-shadow: 0 1px 2px #cc8f51, 0 1px 2px #cc8f51;
}